* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6d93f8;
  overflow: hidden;
  height: 100vh;
  font-family: 'VT323', monospace;
  color: #724d50;
}

.console {
  max-width: 400px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0 auto;
  padding: 40px 0;
  margin-top: 20px;
}

.console--screen {
  height: 477px;
  width: 97%;
  margin: auto;
  padding: 22px 26px;
  background-color: #cdedfc;
  border: 10px solid #dfa46d;
  box-shadow: inset 0px 0px 0px 10px #e7f6fd;
}

.console--buttons {
  display: flex;
  padding-top: 24px;
  justify-content: space-around;
}

.console--buttons-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #f8d26d;
  border: 5px solid #dfa46d;
  box-shadow: 0px 7px 0px #724d50;
  cursor: pointer;
}

.console--buttons-button > img {
  transform: scale(1.2);
}

.console--buttons-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.console--screen-stats {
  display: flex;
  justify-content: space-around;
}

.console--screen-stats-stat {
  display: flex;
  align-items: center;
}

.stat-text {
  font-size: 40pt;
  line-height: 40px;
  letter-spacing: -0.15em;
  padding-right: 0.15em;
}

.stat-image {
  transform: scale(1.2);
}

.console--screen-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid #9fdcf9;
  height: 275px;
  margin-top: 16px;
}

.console--screen-main-image {
  transform: scale(1.2);
}

.console--screen-textfield {
  background-color: #e7f6fd;
  text-align: center;
  margin-top: 16px;
  padding: 10px;
}

.console--screen-textfield-text {
  font-size: 60pt;
  line-height: 40px;
}
